<!DOCTYPE html>
<html>
<head>

<h1>Predict the Fish Species</h1>

<input type = "numeric" name = "Weight" placeholder = "Weight" required = "required" /><br>
<input type = "numeric" name = "Length" placeholder = "Length1" required = "required" /><br>
<input type = "numeric" name = "Height" placeholder = "Height" required = "required" /><br>
<input type = "numeric" name = "Width" placeholder = "Width" required = "required" /><br>

<button type = "submit" class = "btn btn-primary btn-block btn-large">Predict</button>



</body>
</html>
